

<ion-content class=" swiper-no-swiping background">
  <div class="container top" [hidden]="keyboard.isVisible">
    <div  style="text-align: center;" > <img style="width: 80px; margin-left:px;" src="/assets/Vegan(2).png"></div> 

  </div>

  <ion-slides>
    <ion-slide>
      <div class="slide-inner ion-padding">
        <span><b>Alterar senha</b></span>


        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="email" placeholder="E-mail" [(ngModel)]="userLogin.email" ></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="Nova Senha" [(ngModel)]="userLogin.password" ></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" (click)="login()" color="success" expand="block">
          Atualizar Senha
        </ion-button>
        <span  style="color:#0ec254; font-size: 13px; letter-spacing: .25px;"> O Safecheck enviará um email para você para verificar sua identidade</span>
      </div>
    </ion-slide>

  </ion-slides>
  
</ion-content>
