<ion-header>
  <ion-toolbar>

    <ion-buttons routerLink="/login"  slot="start">
      <ion-tab-button expand="block" routerLink="/" routerDirection="login" >
        <ion-icon size="large" name="ios-arrow-round-back"></ion-icon>
        
      </ion-tab-button>
    </ion-buttons>
    <div>
    <ion-title>
      <div style="margin-left:2em;"> <img style="width: 110px;" src="../assets/title.png"></div>
    </ion-title>
  </div>
  </ion-toolbar>
</ion-header>
<ion-content class=" background" *ngIf="type == 1">
  <ion-card style="background-color: white;" class="welcome-card">
    <div *ngIf="product?.isVegan && product?.isVeganVerify" class="ion-float-right">
      <img style="width: 90px;" src="{{imageUrl}}/uploads/Vegan(2).png">
    </div>
    <div *ngIf="product?.isCrueltFree && product?.isCrueltFreeVerify && !product?.isVegan && product?.isVeganVerify">
      <img src="{{imageUrl}}/uploads/CF.png">
    </div>
    <!-- <ion-img style="max-width: 120px;" *ngIf="product.productImage != undefined" src="{{imageUrl}}/{{product.productImage}}"></ion-img> -->
    <ion-img *ngIf="product?.productImage != undefined  " style="max-width:180px;"
      src="{{imageUrl}}/{{product?.productImage}}"></ion-img>

    <ion-card-header>
      <ion-card-subtitle>{{product?.brand}}</ion-card-subtitle>
      <ion-card-title>{{product?.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="product?.barcode != undefined">
        <p>código de barras: {{product?.barcode}}</p>
      </div>
      <div *ngIf="product?.description != undefined">
        <p>{{product?.description}}</p>
      </div>

      <div *ngIf="product?.link != undefined"> <a href="{{product?.link}}">
          <p>Mais Informações sobre {{product?.name}}.</p>
        </a> </div>
      <div *ngIf="product?.linkPeta != undefined"> <a href="{{product?.linkPeta}}">
          <p>Informações Peta.</p>
        </a> </div>



      <ion-list style="margin-top:16px;" lines="none">
        <ion-label>Ingredientes</ion-label>
        <ion-item  *ngFor="let item of product?.ingredients">
          <ion-label class="pformat"> {{item.name}}</ion-label>
        </ion-item>
      </ion-list>

      <ion-icon style="margin-top:16px;" class="pointer" slot="icon-only" (click)="likeProduct()"  size="large"
        color="success" name="arrow-dropup">
      </ion-icon>
      <ion-text style="font-size:11px; color: #666; margin-left:3px;">{{product?.like.length}} </ion-text>

      <ion-icon class="pointer" slot="icon-only" size="large" color="medium" (click)="dislikeProduct()" name="arrow-dropdown"></ion-icon>
      <ion-text style="font-size:11px; color:#666; margin-left:3px;">{{product?.dislike.length}} </ion-text>
      <br />
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Comentários</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-textarea [(ngModel)]="comment.description" placeholder="Adicionar Comentário"></ion-textarea>
      <ion-button class="ion-margin-top" (click)="addCommentsProduct()" color="success" expand="block">
        Enviar
      </ion-button>

    </ion-item>
  </ion-list>
  <ion-card>
    <ion-card-content  lines="none" style="background-color:white;" ion-item *ngFor="let item of product?.comments">
      <ion-item lines="none">
        <ion-thumbnail *ngIf="item.productImage == undefined" item-start>
          <img src="{{imageUrl}}/uploads/nophoto.png">
        </ion-thumbnail>
        <ion-label>{{item.user.name}}  </ion-label>   
         <ion-button class="ion-margin-top" *ngIf="item.user.email == usr.email" (click)="deleteCommentsProduct(item._id)" color="danger" expand="block">
            Excluír
          </ion-button>
      </ion-item>
      <ion-card-content>
          <ion-label> <p>{{item.description}}</p> </ion-label> 
      </ion-card-content>
      <!-- <ion-label> <p>{{item.description}}</p> </ion-label> -->
    </ion-card-content>

  </ion-card>

</ion-content>
<!-- brand -->
<ion-content class=" background" *ngIf="type == 2">
  <ion-card style="background-color: white;" class="welcome-card">
    <div *ngIf="brand?.isVegan " class="ion-float-right">
      <img style="width: 90px;" src="{{imageUrl}}/uploads/Vegan(2).png">
    </div>
    <div *ngIf="brand?.isCrueltFree && !brand?.isVegan">
      <img src="{{imageUrl}}/uploads/CF.png">
    </div>

    <ion-img *ngIf="brand?.brandImage != undefined" style="max-width:180px;" src="{{imageUrl}}/{{brand?.brandImage}}">
    </ion-img>

    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>{{brand?.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <div *ngIf="brand?.description != undefined">
        <p>{{brand?.description}}</p>
      </div>

      <div *ngIf="brand?.link != undefined"> <a href="{{brand?.link}}">
          <p>Mais Informações sobre {{brand.name}}</p>
        </a> </div>
      <div *ngIf="brand?.linkPeta != undefined"> <a href="{{brand?.linkPeta}}">
          <p>Informações {{brand.name}} em Peta. </p>
        </a> </div>

      <ion-icon class="pointer" slot="icon-only" (click)="likeBrand()" size="large" color="success" name="arrow-dropup">
      </ion-icon>
      <ion-text style="font-size:11px; color: #666; margin-left:3px;">{{brand?.like.length}} </ion-text>

      <ion-icon class="pointer" slot="icon-only" size="large" (click)="dislikeBrand()" color="medium" name="arrow-dropdown"></ion-icon>
      <ion-text style="font-size:11px; color:#666; margin-left:3px;">{{brand?.dislike.length}} </ion-text>
      <br />

    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Comentários</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-textarea [(ngModel)]="comment.description" placeholder="Adicionar Comentário"></ion-textarea>
      <ion-button class="ion-margin-top" (click)="addCommentsBrand()" color="success" expand="block">
        Enviar
      </ion-button>

    </ion-item>
  </ion-list>
  <ion-card>
    <ion-card-content  lines="none" style="background-color:white;" ion-item *ngFor="let item of brand?.comments">
      <ion-item lines="none">
        <ion-thumbnail *ngIf="item.productImage == undefined" item-start>
          <img src="{{imageUrl}}/uploads/nophoto.png">
        </ion-thumbnail>
        <ion-label>{{item.user.name}}  </ion-label>   
         <ion-button class="ion-margin-top" *ngIf="item.user.email == usr.email" (click)="deleteCommentsBrand(item._id)" color="danger" expand="block">
            Excluír
          </ion-button>
      </ion-item>
      <ion-card-content >
          <ion-label> <p>{{item.description}}</p> </ion-label> 
      </ion-card-content>
      <!-- <ion-label> <p>{{item.description}}</p> </ion-label> -->
    </ion-card-content>

  </ion-card>

</ion-content>