
<ion-header>
    <ion-toolbar>
  
      <ion-buttons slot="start">
        <ion-tab-button tab="search">
          <ion-icon  expand="block" routerLink="/" routerDirection="root" size="large" name="ios-arrow-round-back"></ion-icon>
          
        </ion-tab-button>
      </ion-buttons>
   

      <div>
      <ion-title>
        <div style="margin-left:2em;"> <img style="width: 110px;" src="../assets/title.png"></div>
      </ion-title>
    </div>
    </ion-toolbar>
  </ion-header>
<ion-content class=" swiper-no-swiping background">
    <div class="container top" [hidden]="keyboard.isVisible">
      <div  style="text-align: center;" > <img style="width: 80px; margin-left:px;" src="/assets/Vegan(2).png"></div> 
  
    </div>
  
    <ion-slides>
      <ion-slide>
        <div class="slide-inner ion-padding">
          <span><b>Recuperar senha</b></span>
  
  
          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="email" placeholder="E-mail" [(ngModel)]="userLogin.email" ></ion-input>
          </ion-item>
  
          <ion-button class="ion-margin-top" (click)="login()" color="success" expand="block">
            Enviar
          </ion-button>
          <span  style="color:#0ec254; font-size: 13px; letter-spacing: .25px;"> O Safecheck enviará um email para você para verificar sua identidade</span>
        </div>
      </ion-slide>
  
    </ion-slides>
    
  </ion-content>
  