<img style="width: 110px; " src="{{imageUrl}}/uploads/logo0.png">

<!-- <ion-searchbar (ionInput)="searchItens($event)"></ion-searchbar> -->


<!-- Searchbar with a cancel button and custom cancel button text -->
<ion-searchbar placeholder="Buscar" showCancelButton cancelButtonText="Custom Cancel" (ionInput)="searchItens($event)">
</ion-searchbar>



<ion-content>
  <ion-list>
    <ion-item ion-item *ngFor="let item of products">
      <a href="/detail/{{item._id}}">
        <ion-thumbnail *ngIf="item.productImage != undefined" item-start>
          <img src="{{imageUrl}}/{{item.productImage}}">
        </ion-thumbnail>
      </a>
      <a href="/detail/{{item._id}}">
        <ion-thumbnail *ngIf="item.productImage == undefined" item-start>
          <img src="{{imageUrl}}/uploads/noimage.png">
        </ion-thumbnail>
      </a>
      <ion-label class="ion-margin">

        <a class="alink" href="/detail/{{item._id}}">
          <ion-text>
            {{item.name}}
          </ion-text>
        </a>

        <p>{{item.brand.name}}</p>
        <ion-icon class="pointer" slot="icon-only" (click)="teste();" size="large" color="success" name="arrow-dropup">
        </ion-icon>
        <ion-text style="font-size:11px; color: #666; margin-left:3px;">{{item.like.length}} </ion-text>

        <ion-icon class="pointer" slot="icon-only" size="large" color="medium" name="arrow-dropdown"></ion-icon>
        <ion-text style="font-size:11px; color:#666; margin-left:3px;">{{item.dislike.length}} </ion-text>
        <br />
        <div style="margin-top:5px;"> <a href="/likes/{{item._id}}">
            <ion-text style="font-size:11px;color:#666; ">
              <p>Ver curtidas</p>
            </ion-text>
          </a> </div>
      </ion-label>
  
          <div *ngIf="item.isVegan && item.isVeganVerify">
              <img style="width: 90px;" src="{{imageUrl}}/uploads/Vegan(2).png">          
          </div>
        <div *ngIf="item.isCrueltFree && item.isCrueltFreeVerify">
            <img  src="{{imageUrl}}/uploads/CF.png">          
        </div>
    </ion-item>

    <ion-item ion-item *ngFor="let item of brands">

      <a href="/detail/{{item._id}}">
        <ion-thumbnail *ngIf="item.brandImage != undefined" item-start>
          <img src="{{imageUrl}}/{{item.brandImage}}">
        </ion-thumbnail>
      </a>

      <a href="/detail/{{item._id}}">
        <ion-thumbnail *ngIf="item.brandImage == undefined" item-start>
          <img src="{{imageUrl}}/uploads/noimage.png">
        </ion-thumbnail>
      </a>

      <ion-label class="ion-margin">
        <a class="alink" href="/detail/{{item._id}}">
          <ion-text>
            {{item.name}}
          </ion-text>
        </a>
        <p></p>
        <ion-icon class="pointer" slot="icon-only" (click)="teste();" size="large" color="success" name="arrow-dropup">
        </ion-icon>

        <ion-text style="font-size:11px; color: #666; margin-left:3px;">{{item.like.length}} </ion-text>
        <ion-icon class="pointer" slot="icon-only" (click)="teste();" size="large" color="medium" name="arrow-dropdown">
        </ion-icon>
        <ion-text style="font-size:11px; color:#666; margin-left:3px;">{{item.dislike.length}} </ion-text>
        <div style="margin-top:5px;"> <a href="/likes/{{item._id}}">
          <ion-text style="font-size:11px;color:#666; ">
            <p>Ver curtidas</p>
          </ion-text>
        </a> </div>
      </ion-label> 
      <div *ngIf="item.isVegan ">
          <img style="width: 90px;" src="{{imageUrl}}/uploads/Vegan(2).png">          
      </div>
    <div *ngIf="item.isCrueltFree ">
        <img  src="{{imageUrl}}/uploads/CF.png">          
    </div>

    </ion-item>
  </ion-list>
</ion-content>